<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <form action="/form" method="post">
      <input type="text" name="ime" placeholder="Ime" />
      <input type="text" name="prezime" placeholder="Prezime" />
      <input type="number" name="prosek" placeholder="Prosek" />
      <button type="submit">Isprati</button>
    </form>
  </body>
</html>
